@model QuizPortal.Models.Dtos.UserDto
@{
    ViewData["Title"] = "Home";
}

<br />

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Username</h1>

    <br />

    <img src="https://static.vecteezy.com/system/resources/previews/003/206/208/non_2x/quiz-time-neon-signs-style-text-free-vector.jpg" width="300">
</div>